@font-face {
    font-family: 'sansationregular';
    src: url('../public/fonts/sensation_regular/sansation_regular-webfont.eot');
    src: url('../public/fonts/sensation_regular/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/sensation_regular/sansation_regular-webfont.woff2') format('woff2'),
         url('../public/fonts/sensation_regular/sansation_regular-webfont.woff') format('woff'),
         url('../public/fonts/sensation_regular/sansation_regular-webfont.ttf') format('truetype'),
         url('../public/fonts/sensation_regular/sansation_regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
